<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="http://getbootstrap.com/examples/carousel/carousel.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css" />
  </head>
  <body ng-app="renthomeApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RENTHOME</a>
          </div>

          <div class="navbar-collapse collapse" ng-controller="AuthCtrl">

            <ul class="nav navbar-nav">
              <li ng-class="{active: isActive('/palavas')}">
                <a ng-href="#/palavas">Locations saisonnières meublées à Palavas-les-Flots</a>
              </li>
              <li ng-class="{active: isActive('/montpellier')}">
                <a ng-href="#/montpellier">Locations meublées à Montpellier</a>
              </li>
              <li ng-show="undefined == user.id" class="dropdown">
                <a class="dropdown-toggle" href="" data-toggle="dropdown">Login</a>
                <div class="dropdown-menu" style="padding:17px;">
                  <form style="padding:0 10px" class="form-inline">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="login" ng-model="connection.email">
                    </div>
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="password" ng-model="connection.password">
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="login()">Go</button>
                  </form>
                </div>
              </li>
              <li ng-show="undefined != user.id"><a href="#" ng-click="logout()">Logout</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div ng-view="" role="main"></div>

    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="//cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js"></script>

    <script src="https://code.angularjs.org/1.2.5/i18n/angular-locale_fr-fr.js"></script>


        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/auth.js"></script>
        <script src="scripts/controllers/city.js"></script>
        <script src="scripts/controllers/appart.js"></script>

        <script src="scripts/services/appService.js"></script>

        <script src="scripts/filters/ucfirst.js"></script>
        <!-- endbuild -->
</body>
</html>
