<ol class="breadcrumb">
  <li><a href="#/{{city}}">{{city | ucfirst}}</a></li>
</ol>

<h2>Page d'accueil des locations de {{city | ucfirst}}</h2>

<div class="container">
    <table class="table stripped table-hover">
        <tr ng-repeat="home in filteredHomes" class="col-md-12">
            <td>
                <img ng-src="images/{{home.image}}" style="width:290px" />
            </td>
            <td>
                <h2>{{home.title}}</h2>
                <p>{{home.comment}}</p>
            </td>
        </tr>
    </table>
</div>