<h3>Les meublés</h3>

<div class="container">
    <table class="table">
        <tr ng-repeat="(key, home) in homes" class="col-md-12">
            <td style="width:30%;max-width:300px">
                <a href="#/appart/{{key}}">
                    <img ng-src="images/{{home.image}}" style="width:100%" />
                </a>
            </td>
            <td>
                <a ng-href="#/appart/{{key}}">
                    <h2>{{home.title}}</h2>
                    <p>{{home.comment}}</p>
                    <p>Ville : {{home.city}}</p>
                </a>
            </td>
        </tr>
    </table>
</div>